html {
	font-size: 16px;
	font-family: 'Delius', cursive;
	color: #333;
}

input, button {
	font-family: 'Delius', cursive;
}

a, a:visited, a:link {
	color: #00D0B5;
	text-decoration: none;
}

a:hover {
	color: #A4FFF3;
}

h2 {
	font-size: 1.3em;
	margin-bottom: 0.5rem;
	font-weight: 500;
}

p {
	line-height: 1.2;
}

em {
	color: #FF6A2A;
}

input[type="button"], input[type="submit"], button {
	color: #FF6A2A;
	display: block;
	padding: 1em;
	font-size: 1.2em;
	border: 1px solid #FF6A2A;
	background-color: transparent;
	width: 100%;
	cursor: pointer;
}

input[type="button"]:hover, input[type="submit"]:hover, button:hover {
	color: #fff;
	background-color: #FF6A2A;
}

.okiniiri {
	float: right;
}

.ellipsis {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.container {
	padding-left: 4%;
	padding-right: 4%;
}

@media screen and (min-width: 500px) {
	.container {
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 0;
		padding-right: 0;
	}

	.content {
		margin-left: auto;
		margin-right: auto;
		max-width: 600px;
	}
}


.main-header {
	padding-top: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #dedede;
}

.logo a {
	background: url('../images/logo-ld.png') no-repeat;
	width: 120px;
	height: 27px;
	display: block;
	text-indent: -9999px;
}

.content > .container {
	padding-top: 1em;
	padding-bottom: 1em;
}

.main-footer {
	padding-top: 1em;
	padding-bottom: 1em;
	border-top: 1px solid #dedede;
	text-align: center;
}

.hide {
	display: none!important;
}

.toast {
	position: fixed;
	color: white;
	bottom: 1em;
	left: 1em;
	right: 1em;
	background-color: #333;
	border-radius: 3px;
	padding: 1em;
	opacity: 1;
	transition: opacity 0.5s 2.5s ease;
}

.toast.close {
	opacity: 0;
}

#app {
	position: relative;
}

#app.loading:after {
	content: '';
	display: block;
	width: 100vw;
	position: fixed;
	background-color: rgba(255, 255, 255, 0.8);
	z-index: 1;
	height: 100vh;
	top: 0;
}

#app.loading:before {
	content: '';
	display: block;
	background: url('../images/loading.gif') center center no-repeat;
	width: 120px;
	height: 120px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
}

#app {
	height: calc(100vh - 110px);
	overflow: hidden;
}

#list, #details  {
	position: absolute;
	width: 100vw;	
	height: 100%;
	overflow: auto;
	background-color: #fff;
	transition: transform ease-out 1s;
}

#list {
	transform: translateX(-100vw);
}

#list.visible {
	transform: translateX(0);
}

#details {
	transform: translateX(100vw);
}

#details.visible {
	transform: translateX(0);
}

.project-details summary {
	margin-bottom: 1em;
	margin-top: 1em;
}

.project-details code {
	font-family: monospace;
	padding: 1em;
	background-color: #ececec;
	display: block;
	white-space: pre;
	overflow: auto;
	margin-top: 1em;
}

.project-details header {
	padding-bottom: 0.5em;
}

.project-details header h2 {
	color: #FF6A2A;
}

.project-details header .avatar {
	float: left;
	margin-right: 1em;
}

.project-details menu {
	display: flex;
	margin-top: 1em;
	margin-bottom: 1em;
}

.project-details menu a {
	display: inline-block;
	border-radius: 3px;
	padding: 0.8em;
	margin-right: 0.5em;
	flex: 1;
	text-align: center;
}

.project-details menu .close {
	color: #a5a5a5;
	border: 1px solid #a5a5a5;
}

.project-details menu .external-link {
	color: #00D0B5;
	border: 1px solid #00D0B5;
}

.project-details menu .favorite {
	color: #FF6A2A;
	border: 1px solid #FF6A2A;
}


.project-list .item {
	display: flex;
	align-items: center;
	padding-bottom: 1em;
}

.project-list .item:not(:last-child) {
	margin-bottom: 1em;
	border-bottom: 1px dotted #dedede;
}


.project-list .item .description {
	flex: 1;
	min-width: 0;
	padding-left: 1em;
}

.project-list .description p {
	word-break: break-word;
	display : block;
	display : -webkit-box;
	overflow: hidden;
	-webkit-box-orient : vertical;
	-webkit-line-clamp: 3;
}

.offline .item {
	opacity: 0.5;
}

.offline .cached {
	opacity: 1;
}

.avatar {
	border: 1px solid #f3f3f3;
	border-radius: 50%;
	vertical-align: middle;
}